<h3>{{collection.name}}</h3>
<p>
  {{collection.description}}
</p>
<div>
  grade: {{collection.description}}
</div>
{{worksheet-form worksheet=worksheet_new factories=collection.factory}}

{{outlet}}
