<form {{action "save" on="submit"}}>




<p>
<label>Title:
{{input value=worksheet.title}}
</label>
</p>

<p>
  <label>Factory:
    {{#x-select value=worksheet.factory}}
      {{#x-option value=0}} None {{/x-option}}
      {{#each factories as |factory|}}
        {{#x-option value=factory}} {{factory.name}} {{/x-option}}
      {{/each}}
    {{/x-select}}
  </label>
  <p>
    Selected: {{worksheet.factory.name}}
  </p>
</p>


<input type="submit" value="Save"/>
<button {{action "cancel"}}>Cancel</button>
</form>
