<h3>{{worksheet.title}} </h3>

<div>
  <table class="table">
    <thead>
      <td>
        #
      </td>
      <td>
        Question
      </td>
      <td>
        Solution
      </td>
    </thead>
<tbody>
    {{#each questions as |question index|}}
    <tr>
      <td>
        {{index}}
      </td>
      <td>
        {{question.text}}
      </td>
      <td>
        {{question.solution}}
      </td>
    </tr>
    {{/each}}
</tbody>
  </table>
</div>

{{#link-to 'groups.show' group.id}} Back to {{group.name}} {{/link-to}}
