<div class="row">
  <div class="col-md-9">
    <ul class="list-unstyled">
      {{#each groups as |group|}}
      <li>
        <div class="group">
          <h2> {{#link-to 'groups.show' group}}{{group.name}} {{/link-to}}           {{group.year}}</h2>
          <div class="group-details">
            Grade: {{group.grade}}
            Current number of worksheets: {{group.worksheet_count}}
          </div>
          <p>
            {{group.description}}
          </p>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-3">
    <form role="form">
      <h3>Create a new group</h3>
      <div class="form-group">
        <label>
          Group Name:
          <br>
          {{input value=new_group.name placeholder="Name" class="form-control"}}
        </label>
      </div>

      <div class="form-group">
        <label>
          Description:
          <br>
          {{textarea value=new_group.description placeholder="Description" class="form-control"}}
        </label>
      </div>

      <div class="form-group">
        <label>
          Description:
          <br>
          {{input type="number" value=new_group.grade min="1" max="13" step="1"  placeholder="Grade" class="form-control"}}
        </label>
      </div>

      <div class="form-group">
        <label>Choose a Year:
          <br>
          {{#x-select value=new_group.year class="form-control"}}
          {{#x-option value=nil}} None {{/x-option}}
          {{#x-option value="2015/16"}} School year 2015/16 {{/x-option}}
          {{#x-option value="2016/17"}} School year 2016/17 {{/x-option}}
          {{#x-option value="2017/18"}} School year 2017/18 {{/x-option}}
          {{/x-select}}
        </label>
        <br>
      </div>

      <div class="form-group">
        <label>Choose a Factory:
          <br>
          {{#x-select value=new_group.factory class="form-control"}}
          {{#x-option value=0}} None {{/x-option}}
          {{#each factories as |factory|}}
          {{#x-option value=factory}} {{factory.name}} {{/x-option}}
          {{/each}}
          {{/x-select}}
        </label>
        <br>
        {{#link-to 'factories.new'}} Or create a new Factory {{/link-to}}
      </div>



      <div class="form-group">
        <button type="button" {{action 'create_group'}} class='btn btn-default'> Create </button>
      </div>
    </form>
  </div>
</div>

{{outlet}}
