<h2> {{group.grade}} {{group.name}} {{group.year}}</h2>

{{#each group.worksheetSets as |set|}}
  {{worksheet-set-tag worksheet_set=set}}
{{/each}}

{{link-to 'Erstelle ein neues Set' 'worksheet_sets.new' group.id}}
