<h2> {{group.grade}} {{group.name}} {{group.year}}</h2>
<ul class="nav nav-pills">
  {{#each group.worksheetSets as |set|}}
  <li>{{link-to set.title 'groups.show.worksheet_set' set.id }} </li>
  {{/each}}
  <li> {{link-to 'Erstelle ein neues Set' 'groups.show.create_set'}} </li>
</ul>
{{outlet}}
