<h2> {{group.grade}} {{group.name}}  {{group.year}}</h2>
<div {{action 'delete'}} class="delete-button btn btn-danger">
  <span class="fa fa-cross"> </span> Delete
</div>
<div class="group-details">
<p>
  {{group.description}}
</p>
</div>
{{yield}}
