<header>
  <nav id="main-nav">
    {{link-to 'Worksheet Factory' 'index' class="logo"}}
    <ul id="main-nav-links">
        {{#if session.isAuthenticated}}
            <li>{{#link-to 'groups.index'}} Klassen {{/link-to}}</li>
          <li>  {{link-to email 'dashboard' }}  </li>
          <li><a {{action 'logout'}}>Logout</a></li>
         {{else}}
           <li> {{#link-to 'login'}}Login{{/link-to}} </li>
       {{/if}}
    </ul>
  </nav>
</header>

{{yield}}
