<div class="number-clicker">
  <div class="flex-container">
    <span {{action 'add' 10}} class="clicker"> +10 </span>
    <span {{action 'add' 1}} class="clicker"> +1 </span>
  </div>
  {{input type="number" value=number class="clicker-input"}}
  <div class="flex-container">
    <span {{action 'add' -10}} class="clicker"> -10 </span>
    <span {{action 'add' -1}} class="clicker"> -1 </span>
  </div>
</div>
