
<div id="worksheet-short" class="clearfix">
<h3>
  {{#link-to 'worksheets.show' worksheet.id}}
    {{worksheet.title}}
  {{/link-to}}
</h3>

{{#if archived}}
 <button {{action "refresh"}} class="right">Refresh</button>
{{else}}
<button {{action "archive"}} class="right">
 Archive
</button>

{{link-to 'Ergebnisse' 'groups.show.worksheet_set.results' worksheet.worksheetSet.id worksheet.id class="button right"}}
{{/if}}
{{yield}}
</div>
