<h3>
  {{#link-to 'worksheets.show' worksheet.id}}
    {{worksheet.title}}
  {{/link-to}}
</h3>
{{#if archived}}
 <button class="btn btn-default" {{action "refresh"}}>Refresh</button>
{{else}}
<div {{action "archive"}} class="btn btn-sm btn-default">
 Archive
</div>

{{link-to 'Ergebnisse' 'groups.show.worksheet_set.results' worksheet.worksheetSet.id worksheet.id class="btn btn-sm btn-default"}}
{{/if}}
{{yield}}
