<h3>
  {{#link-to 'worksheets.show' worksheet.id}}
    {{worksheet.title}}
  {{/link-to}}
</h3>
{{#if archived}}
 <button class="btn btn-default" {{action "pressedButton"}}>Refresh</button>
{{else}}
 <button class="btn btn-danger" {{action "pressedButton"}}>Archive</button>
{{/if}}


{{yield}}
