
<div id="worksheet-short">
<h3>
  {{#link-to 'worksheets.show' worksheet.id}}
    {{worksheet.title}}
  {{/link-to}}
</h3>

{{#if archived}}
 <button {{action "refresh"}}>Refresh</button>
{{else}}
<button {{action "archive"}}>
 Archive
</button>

{{link-to 'Ergebnisse' 'groups.show.worksheet_set.results' worksheet.worksheetSet.id worksheet.id class="button"}}
{{/if}}
{{yield}}
</div>
