
<div class="panel-body">
<button  {{action 'delete'}} class="right"> Delete Set</button>



<ul id="worksheet-list">
  <li id="add-button">
    <form role="form" onsubmit="return false">
      <button type="button" {{action "submit"}}>  <span id="plus-icon">+</span>  </button>
    </form>
  </li>
  {{#each sortedRemainingWorksheets as |worksheet|}}
    {{worksheet-short worksheet=worksheet}}
  {{/each}}
</ul>

<br>
{{#if showArchive}}
<button {{action "toggleArchive"}} class='btn btn-default'> {{fa-icon "angle-up"}} Hide Archive</button>
<h3> Archive:</h3>
  <ul id="archive-list">
    {{#each sortedArchivedWorksheets as |worksheet|}}
      {{worksheet-short worksheet=worksheet}}
    {{/each}}
  </ul>
{{/if}}

{{#unless showArchive}}
{{#if worksheetSet.hasArchivedWorksheets}}
  <button {{action "toggleArchive"}} class='btn btn-default'> {{fa-icon "angle-down"}} Show {{worksheet_set.archivedWorksheetCount}} archived Worksheet</button>
{{/if}}
{{/unless}}

</div>
{{yield}}
