<h3>
  {{#link-to 'worksheets.show' worksheet.id}}
    {{worksheet.title}}
  {{/link-to}}
</h3>
{{#if archived}}
 <button class="btn btn-default" {{action "refresh"}}>Refresh</button>
{{else}}
<span {{action "archive"}}>
  {{#link-to 'groups.show.worksheet_set.new_result' worksheet.id class="btn btn-danger"}} Archive {{/link-to}}
</span>
{{/if}}


{{yield}}
