
<div class="panel-body">
<button  {{action 'delete'}} class="btn btn-danger pull-right"> Delete Set</button>
{{#unless showArchive}}
{{#if worksheet_set.hasArchivedWorksheets}}
  <button {{action "toggleArchive"}} class='btn btn-default'>Show {{worksheet_set.archivedWorksheetCount}} archived Worksheet</button>
{{/if}}
{{/unless}}

{{#if showArchive}}
<button {{action "toggleArchive"}} class='btn btn-default'>Hide Archive</button>
<h3> Archive:</h3>
  <ul class="list-unstyled">
    {{#each worksheet_set.archivedWorksheets as |worksheet|}}
      {{worksheet-short worksheet=worksheet}}
    {{/each}}
  </ul>
<h3>Remaining:</h3>
{{/if}}

<ul class="list-unstyled">
  {{#each worksheet_set.remainingWorksheets as |worksheet|}}
    {{worksheet-short worksheet=worksheet}}
  {{/each}}
</ul>



<form role="form" onsubmit="return false">
  <button class= "btn" type="button" {{action "submit"}}> Add a worksheet </button>
</form>

</div>
{{yield}}
