<form {{action "save" on="submit"}}>
  <p>
    <label>Name:
      {{input value=factory.name}}
    </label>
  </p>


  <h3>Available skills</h3>
  {{#each skills as |skill|}}
    {{#draggable-object content=skill}}
      {{skill.name}}
    {{/draggable-object}}
  {{/each}}

  {{#draggable-object-target action="removeFromSelection"}}
  Remove
  {{/draggable-object-target}}

  <h3>Selected Skills</h3>

  {{#each selection as |skill|}}
    {{#draggable-object content=skill}}
      {{skill.name}}
    {{/draggable-object}}
  {{/each}}

  {{#draggable-object-target action="addToSelection"}}
    Add skills here
  {{/draggable-object-target}}



  <input type="submit" value="Save"/>
  <button {{action "cancel"}}>Cancel</button>
</form>
