<form {{action "save" on="submit"}}>
  <p>
    <label>Name:
      {{input value=factory.name}}
    </label>
  </p>

<div class="row">
  <div class="col-md-6">
    <h3>Selected Skills</h3>

    {{#draggable-object-target action="addToSelection" overrideClass="drop"}}
    {{#each selection as |skill|}}
      {{#draggable-object content=skill overrideClass="skill"}}
        {{skill.name}}
      {{/draggable-object}}
    {{/each}}
    {{#unless hasSelection}}
    Drag skill here
    {{/unless}}
    {{/draggable-object-target}}

  </div>
  <div class="col-md-6">
    <h3>Available skills</h3>

    {{#draggable-object-target action="removeFromSelection" overrideClass="drop"}}
    {{#each skills as |skill|}}
      {{#draggable-object content=skill overrideClass="skill"}}
        {{skill.name}}
      {{/draggable-object}}
    {{/each}}
    {{/draggable-object-target}}
  </div>

</div>







  <input type="submit" value="Save"/>
  <button {{action "cancel"}}>Cancel</button>
</form>
