<h2> {{group.name}}</h2>
{{#if archiveButtonVisible}}
 <button class="btn btn-default" {{action 'toggleArchive'}}> Show {{archiveCount}} archived Worksheets  </button>
{{/if}}
{{#if showArchive}}
<button class="btn btn-default" {{action 'toggleArchive'}}> Hide {{archiveCount}} archived Worksheets  </button>
<h3> Archive:</h3>
  <ul class="list-unstyled">
    {{#each archivedWorksheets as |worksheet|}}
      {{worksheet-short worksheet=worksheet action='refreshWorksheet'}}
    {{/each}}
  </ul>
<h3>Remaining:</h3>
{{/if}}


<ul class="list-unstyled">
  {{#each remainingWorksheets as |worksheet|}}
    {{worksheet-short worksheet=worksheet action='archiveWorksheet'}}
  {{/each}}
</ul>

<form role="form" onsubmit="return false">
  <button class= "btn" type="button" {{action "submit"}}> Add a worksheet </button>
</form>
