<h2> Ergebnisse für {{worksheetSet.title}} </h2>

<form>

<div class="row">
  <div class="col-md-9">
    <ul class="list-group">
      {{#each results as |result index|}}
      <li class="list-group-item flex-container space-between">
        {{number-clicker  number=result.positive class="green"}}
        <div class="margin-side">
          <h4> {{index}}. Frage </h4>
          <p>
             {{k-tex result.question.text}}
          </p>
        </div>
        {{number-clicker  number=result.negative class="red"}}
      </li>

      {{/each}}
    </ul>
  </div>

  <div class="col-md-3">
    <ul class="list-group">
      {{#each worksheetSet.worksheets as |sheet|}}
           {{link-to sheet.title 'groups.show.results' worksheetSet.id sheet.id class="list-group-item"}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="form-group">
  <button type="button" {{action 'submit'}} class='btn btn-default'> Ergebnisse erfassen </button>
</div>
</form>
