<h2> Ergebnisse für {{worksheetSet.title}} </h2>

<form>
  <ul class="list-group">
    {{#each results as |result|}}
    <li class="list-group-item">
      {{number-clicker  number=result.positive class="green"}}
      <p class="big">
        {{k-tex result.question.text}}
      </p>
      {{number-clicker  number=result.negative class="red"}}
    </li>
    {{/each}}
  </ul>

  <ul>
    {{#each worksheetSet.worksheets as |sheet|}}
    {{link-to sheet.title 'groups.show.worksheet_set.results'  sheet.id class="list-group-item"}}
    {{/each}}
  </ul>


  <button type="button" {{action 'submit'}}> Ergebnisse erfassen </button>

</form>
